.app {
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 2rem;
}

.app__title {
    margin-bottom: 2rem;
}

.app__header {
    margin-bottom: 2rem;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    grid-gap: 2rem;
    align-items: start;
}

.app__title {
    font-size: 4rem;
}
